$color-light-purple:#9C69E2;
$color-light-pink:#F063B8;
$color-pastel-pink:#FDE8F5;
$color-purple:#8A40EE;
$color-pink:#EB4BAB;
$color-grey:#D2D2D7;
$color-white:#FFFFFF;
$color-title:#212353;
$color-text:#4B5D68;
$color-facebook:#3B5998;
$color-twtitter:#00ACEE;
$color-instagram:#C13584;