.header{

    &__logo{
        max-width: 45px;
        max-height: 35px;
    }

    &__container{
        display: flex;
        gap: 120px;
        align-items: center;
        padding: 20px 0px;
        margin: 0 auto 100px;
    }

    &__nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu{
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__link{
        color: $color-text;
        font-family: $font-main;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;

        &:hover{
            color: $color-light-purple;
        }
    }

}